akka-quickstart-java/target/

.settings
.project
.classpath

.idea
*.iml

.metals
.bloop

**/**/.gradle/
**/**/.idea
/akka-quickstart-java/.gradle/
/akka-quickstart-java/.idea/
/akka-quickstart-java/build/
#
.idea/misc.xml
